:root {
  --font-size-base: 12px;
  --spacing-base: 8px;
  --white: #fff;
  --black: #000;
  --grey: #eee;
  --header-bg: tomato;
  --hover-bg: lemonchiffon;
}

#commits {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: var(--font-size-base);
}

#commits td,
#commits th {
  border: 1px solid var(--black);
  padding: var(--spacing-base);
}

/* hide url column on small screen sizes */
#commits tr th:last-child,
#commits tr td:last-child {
  display: none;
}

/* display url column on desktop */
@media screen and (min-width: 769px) {
  #commits tr th:last-child,
  #commits tr td:last-child {
    display: table-cell;
  }
}

#commits tr:nth-child(even) {
  background-color: var(--grey);
}

#commits tr:hover {
  background-color: var(--hover-bg);
}

#commits th {
  padding: var(--spacing-base);
  background-color: var(--header-bg);
  color: var(--white);
  font-size: calc(var(--font-size-base) * 1.5);
}

#commits th button {
  cursor: pointer;
  padding: var(--spacing-base);
  background-color: var(--grey);
  border: none;
  margin-top: var(--spacing-base);
  text-transform: uppercase;
  font-size: calc(var(--font-size-base) * 0.75);
}

#commits th button:hover {
  background-color: var(--black);
  color: var(--white);
}
